# Ignore Gradle project-specific directorys
.gradle
/build/
/out/

# Ignore direnv
.direnv

# Ignore SQLite Database File
scriptorium.db

# Ignore Gradle build output directory
build

# Virtual Machine crash logs
hs_err_pid*.log

# Unit test reports
/test-results/

# Logs
*.log

# macOS
.DS_Store

# ignore compilations
app/bin/